<header class=" container-fluid p-3">
    <ul class="w-75 list-group list-group-horizontal">       
        <li class="w-25 list-group-item bg-primary p-1 text-light">
            <i class="fa-solid fa-house"></i>
            <a class="nav-link t-white" href="/">Estoque atual</a>
        </li>
        <li class="w-25 list-group-item bg-primary p-1 text-light" >
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <a class="nav-link" href="/cadastro">Cadastrar produto</a>
        </li>
        <li class="w-25 list-group-item bg-primary p-1 text-light">
            <i class="fa-solid fa-arrow-down-to-square"></i>
            <a class="nav-link" href="/entrada">Entrada</a>
        </li>
        <li class="w-25 list-group-item bg-primary p-1 text-light">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <a class="nav-link" href="/saida">Saída</a>
        </li>
    </ul>
</header>